@model IEnumerable<COMP003B.Assignment7.Models.AlbumViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Album</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlbumTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.AlbumTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlbumTitle">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlbumTitle">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlbumTitle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
